name: Wails Build

on:
  push:
    tags:
      - 'v*'

env:
  WAILS_VERSION: v2.9.2
  GO_VERSION: 1.21

jobs:
  build:
    name: Build on Windows
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Build Wails App
        working-directory: ./warehouse_ui
        run: |
          wails build -platform windows/amd64

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WarehouseMARL-Windows
          path: warehouse_ui/build/bin/warehouse_ui.exe

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: WarehouseMARL-Windows

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            warehouse_ui.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}